@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    /* 不累加邊框與內距 */
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        "蘋方-繁", "PingFang TC", "Noto Sans TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

/* header */
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 共用 */
header,footer,#topbar img {
    display: block;
    width: 100%;
}

header,footer main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header,footer section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header,footer div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* -------------------------------------------------------- */
#topbar {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 1.2rem;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.morelogo {
    width: 16%;
    margin: 0 -1rem 0 1rem;
}

#topbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    padding-top: 2px;
}

.menu a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 0.5rem 0.5rem;
}

.menu a:hover {
    color: #C94344;
}

.menu li::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #C94344;
}

.menu li:hover::after {
    width: 100%;
}

.menu a:active {
    color: #C94344;
}

.reserve_btn a {
    display: block;
    text-decoration: none;
    padding: 1rem 1.8rem;
    margin: 0 1rem 0 -2rem;
    border-radius: 50px;
    background-color: #C94344;
    font-weight: bold;
    color: #fff;
}

.reserve_btn a:hover {
    background-color: #FFC42D;
} 


/* main */
main>* {
    /* 取得<main>第一層所有元素 */
    height: 100vh;
}

/* banner */

.bannerMid {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    position: absolute;
    align-content: start;
}

.bannerTitle {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: -490px;
}

.bannerBg {
    width: 100%;
    height: 100%;
    z-index: -2;
}

.slogan-bg {
    padding-top: 430px;
    width: 1000px;
    height: 21%;
    z-index: 2;
    object-fit: cover;
    position: relative;
}

#banner h1 {
    padding-top: 496px;
    font-size: 70px;
    width: 900px;
    height: 100px;
    z-index: 3;
    color: white;
    font-weight: bolder;
    text-align: center;
    position: absolute;
}

.ballAnimate {
    padding-top: 250px;
    width: 19%;
    z-index: 1;
}

/* 會員價格 */
.price {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.memberShip {
    position: absolute;
    width: 45%;
    top: 10%;
}

.topLeft {
    position: absolute;
    width: 12%;
    left: 0px;
    margin-top: 20%;
}

.topRight {
    width: 13%;
    margin: 40% 0 0 auto;
}

/* 會員評價計數 */
.counting {
    margin-top: 10%;
    height: 778px;
    width: 100%;
    z-index: -9;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/counterBg.png);
}

hr {
    margin: 0;
    border-color: #F88D8E;
    color: #F88D8E;
}

.num {
    font-size: 100.17px;
    color: #C94344;
    font-family: 'Noto Sans TC', sans-serif;
}

.plus {
    font-size: 90px;
    color: #F88D8E;
}

.countingNum {
    display: flex;
    justify-content: center;
    height: 25%;
    width: 80%;
    z-index: 99;
    font-size: 40px;
}

.numBlock {
    z-index: 9;
    margin: 0 85px;
    font-weight: bolder;
    color: #621D1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.numBlock_num {
    text-align: justify;
    width: 100%;
}

.counterBg {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.LT {
    position: absolute;
    top: 90%;
    left: 12%;
}

/* comment 會員評論 */
.memberComment {
    /* overflow: hidden; */
    position: relative;
    height: 100%;
}

.RB {
    position: absolute;
    top: 550px;
    right: 0;
    z-index: 1;
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.membershipPic {
    margin-top: -8px;
    width: 110px;
    height: 110px;
    transform: rotate(6.34deg);
}

.titleText h1 {
    font-size: 300%;
    color: #212121;
    font-weight: bold;
    letter-spacing: 5px;
}

.titleText span {
    font-size: 150%;
    color: #F0B278;
    font-weight: 900;
    font-family: 'Noto Sans TC', sans-serif;
}



.member_title {
    width: 299px;
    height: 72px;
    font-size: 32px;
    font-weight: 900;
    padding-left: 130px;
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    margin-left: 100px;
    padding-top: 51px;
    z-index: 99;
}

/* 會員評論 內容 */
.member {
    margin-bottom: 10px;
    width: 1080px;
    height: 100%;
}

.comment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1100px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.comment_titleBg {
    position: absolute;
    width: 20%;
    margin-left: 170px;
    margin-top: 45px;
    z-index: -1;
}

.content {
    display: flex;
    width: 900px;
    height: 380px;
    border: 7px solid #f0b278;
    border-radius: 20px 1000px 1000px 20px;
    overflow: hidden;
    margin-left: 120px;
    margin-right: 120px;
}

.text {
    padding-top: 45px;
    padding-left: 60px;
    /* left: 63px; */
    font-size: 20px;
    text-align: justify;
    line-height: 180%;
    flex: 2;
}

.text span {
    font-weight: 900;
}

.member_img {
    flex: 1.5;

}

.comment_img {
    width: 325.99px;
    height: 410px;
    background-size: cover;
    z-index: -1;
    flex: 2;
    overflow: hidden;
    margin-left: 59px;
    padding-bottom: 41px;
}

/* footer */
footer {
    margin-top: 10vh;
    background-image: url(./images/footerBg.png);
	color: #621D1C;
	padding: 4rem;
	text-align: center;
}

.footer_icon a {
	display: block;
    margin-right: 2rem;
    width: 45px;
	height: 45px;
}

.icon-fb {
	background-image: url(../image/icon/fb.svg);
}

.icon-ig {
	background-image: url(../image/icon/ig.svg);
}

.icon-line {
	background-image: url(../image/icon/line.svg);
}

footer ul{
    display: flex;
	justify-content: center;
}

h2.footer_title{
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0 .5rem .6rem .5rem;
    margin-bottom: 1.5rem;
    border-bottom: 5px solid #FFC42D;
}

.menu_title{
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem 2.5rem;
    padding-bottom: 1rem;
    
}

.menu_title p{
    margin: 1rem 0;
    font-weight: 400;
}

.footer_menu{
    font-size: 1.125rem;
}

.footer_menu a{
    display: block;
    text-decoration: none;
    margin-bottom: 1.5rem;
    color: #621D1C;
}
.footer_menu li{
    display: flex;
    flex-direction: column;
}

.footer_reserve_btn img{
    width: 20%;
}

.footer_reserve_btn a img{
    width: 7%;
    margin-left: 1.2rem;
    flex: 1;
}

.footer_reserve_btn a{
    margin-left: 3rem;
    padding: 1rem 3rem;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: bold;
    background-color: #C94344;
    border-radius: 50px;
}

.footer_reserve_btn{
    flex-direction: row;
    justify-content: center;
}

.map{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
}

.map a{
    display:block;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
    color: #C94344;
    margin-left: .8rem;
    padding: .5rem 1.1rem;
    border-radius: 30px;
    border:2px solid #C94344;
}

footer > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* 測試 */

.carousel-item {
    object-fit: cover;
    /* 設定要搭配寬高 */
    height: 50%;
}
